.banner-inner__title {
  position: relative;
  margin: 0 auto;
  padding-top: 29px;
  padding-bottom: 76px;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;

  &--form {
    padding-bottom: 44px;
  }

  // &::before {
  //   content: "";
  //   position: absolute;
  //   display: block;
  //   width: 100vw;
  //   top: -66px;
  //   bottom: 0;
  //   left: 50%;
  //   transform: translateX(-50%);
  //   z-index: -1;
  //   background: url("../img/back-mobile.jpg") no-repeat center / cover;
  // }


  @media (min-width: $tablet-width) {
    padding-top: 66px;
    padding-bottom: 128px;
    font-size: 50px;
    line-height: 68px;

    &::before {
      display: none;
    }

    &--form {
      padding-bottom: 60px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 59px;
    padding-bottom: 89px;
  }
}
