.banner__title {
  display: block;
  padding: 29px 20px 230px 20px;
}

.banner__text {
  margin: 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}

.banner__button {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  color: #ffffff;
}

.banner__list {
  list-style-type: none;
  margin: 0;
}
