.banner__title {
  display: block;
  padding: 29px 20px 230px 20px;

  @media (min-width: $tablet-width) {
    padding-top: 102px;
    padding-bottom: 39px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 114px;
    padding-bottom: 51px;
  }
}

.banner__text {
  margin: 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-bottom: 119px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 130px;
  }
}

.banner__list {
  list-style-type: none;
  margin: 0;
}

.banner__button {
  @media (min-width: $tablet-width) {
    margin-bottom: 140px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 181px;
  }
}

.banner__wrapper {
  //background-color: $darkgrey;

  @media (min-width: $tablet-width) {
    background-color: transparent;
    width: 300px;
  }

  @media (min-width: $desktop-width) {
    background-color: transparent;
    width: 300px;
  }
}
