.banner__title {
  display: block;
  padding: 29px 20px 230px 20px;
}

.banner__text {
  margin: 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}

.banner__list {
  list-style-type: none;
  margin: 0;
}

.banner__wrapper {
  background-color: $darkgrey;

  @media (min-width: $tablet-width) {
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    background-color: transparent;
  }
}
