.container {
  max-width: 320px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: $tablet-width;
  }

  &--header {
    max-width: 100%;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    max-width: $desktop-width;
    padding: 0 130px;
  }
}

