.copyright__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding-right: 15px;
  padding-top: 9px;

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.copyright__logo {
  color: $pink;

  &:hover {
    color: $darkgrey-1;
  }

  &:active {
    color: rgba(40, 54, 69, 0.3);
  }
}
