.effect {
  display: none;
}

@media (min-width: $tablet-width) {
  .effect {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }

  .effect__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px 0;

    &::before {
      content: "";
      display: block;
      min-height: 276px;
      background-image: url("../img/effect-pic.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: left;
    }
  }

  .effect__text-wrapper {
    padding-top: 46px;
    position: relative;
    grid-column: 2/-1;
  }

  .effect__title {
    margin-top: 0;
    margin-right: 101px;
    margin-bottom: -5px;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    color: $black;
  }

  .effect__text {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    padding-right: 14px;
    margin-bottom: 10px;
  }

  .effect__link {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: $pink;
  }
}

@media (min-width: $desktop-width) {
  .effect {
    background-color: $lightgrey;
    padding-top: 22px;
  }

  .effect__text {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 30px;
  }

  .effect__link {
    font-size: 18px;
    line-height: 30px;
  }

  .effect__wrapper {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    min-height: 345px;
    padding-bottom: 70px;
    padding-top: 0;
  }

  .effect__text-wrapper {
    padding-top: 94px;
    padding-left: 50px;
  }

  .effect__wrapper::before {
    content: "";
    display: block;
    min-height: 345px;
    // width: 298px;
    background-image: url("../img/effect-pic.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}
