.feedback {
  padding-top: 50px;
}

.feedback__title {
  margin: 0;
  padding-bottom: 45px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

.feedback__text {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}

.feedback__contact {
  display: block;
  padding-bottom: 35px;
  font-weight: 300;
  font-style: normal;
  font-size: 24px;
  line-height: 33px;
  color: $pink;
  text-decoration: none;

  &:hover {
    color: $textcolor;
  }

  &:active {
    color: rgba(40, 54, 69, 0.3);
  }
}

.feedback__map {
  overflow: hidden;
  position: relative;
  height: 200px;
}

.feedback__map iframe {
  left: 0;
  top: 0;
  height: 200px;
  width: 100%;
  position: absolute;
}

@media (min-width: $tablet-width) {
  .feedback__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .feedback__item {
    width: 50%;
  }

  .feedback__title {
    font-size: 40px;
    line-height: 54px;
  }

  .feedback__map {
    height: 374px;
  }

  .feedback__map iframe {
    height: 374px;
  }
}

@media (min-width: $desktop-width) {
  .feedback__item:nth-child(1) {
    order: 1;
  }

  .feedback__title {
    font-size: 50px;
    line-height: 68px;
  }

  .feedback__item {
    width: 33.33%;
  }

  .feedback__map {
    height: 502px;
  }

  .feedback__map iframe {
    height: 502px;
  }
}
