.form__fieldset {
  border: none;
  padding: 0;
}

.form__legend {
  padding-top: 42px;
  padding-bottom: 40px;
}

.form__fieldset--grey {
  background-color: $lightgrey;
}

.form__legend--grey {
  background-color: $lightgrey;
}

.form__paragraph {
  margin: 0;
  text-align: left;
}

.form__input {
  margin-bottom: 29px;
  margin-left: 22px;
}

.form__input[type="text"],
.form__input[type="tel"],
.form__input[type="email"] {
  padding-left: 20px;
  width: 276px;
  height: 59px;
  border: 2px solid #e5e5e5;
  border-radius: 1px;
}

.form__input::placeholder {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}

.form__label {
  display: inline-block;
  padding-bottom: 17px;
}

.form__textarea {
  padding: 22px 25px 20px 20px;
  width: 276px;
  height: 197px;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  box-sizing: border-box;
}
