.form-wrapper__button {
  margin-top: 46px;
  margin-bottom: 36px;
  width: 276px;
  height: 59px;
  background-color: $green;
  color: $white;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  border: none;
  border-radius: 1px;
  cursor: pointer;

  &:hover {
    background-color: #1c9b5e;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: $bordercolor;
  }
}

.form-wrapper__text {
  line-height: 30px;
  text-transform: uppercase;

  &--hidden {
    display: none;
  }
}

.form-wrapper__star {
  color: $pink;
}

@media (min-width: $tablet-width) {
  .form-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .form-wrapper__button {
    width: 296px;
    margin-top: 67px;
    margin-bottom: 0;
  }

  .form-wrapper__required {
    padding-top: 82px;
  }

  .form-wrapper__text {
    text-transform: uppercase;
  }
}

@media (min-width: $desktop-width) {
  .form-wrapper__button {
    margin-top: 65px;
  }

  .form-wrapper__required {
    display: flex;
  }

  .form-wrapper__text {
    display: flex;
  }

  .form-wrapper__text--hidden {
    display: block;
  }
}
