.form-wrapper__button {
  margin-top: 52px;
  width: 276px;
  height: 59px;
  background-color: $green;
  color: $white;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  border: none;
}

.form-wrapper__star {
  color: $pink;
}
