.form-wrapper__button {
  margin-top: 52px;
  margin-bottom: 46px;
  width: 276px;
  height: 59px;
  background-color: $green;
  color: $white;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  border: none;
}

.form-wrapper__star {
  color: $pink;
}

@media (min-width: $tablet-width) {
  .form-wrapper {
  display: flex;
  justify-content: space-between;
  }

  .form-wrapper__button {
    margin-top: 123px;
    margin-bottom: 0px;
  }

  .form-wrapper__required {
    padding-top: 148px;
  }

  .form-wrapper__text {
    text-transform: uppercase;
  }
}
