.main-nav {
  //display: none;
  z-index: 1;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media (min-width: $tablet-width) {
  .main-nav__wrapper {
    display: flex;
    width: 660px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__wrapper {
    width: 670px;
  }

  .main-nav__toggle {
    display: none;
  }
}

.main-nav__link {
  text-decoration: none;
  color: $white;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
}
