.modal {
  width: 320px;
  text-align: center;
}

.modal__title {
  display: block;
  padding-top: 44px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.modal__text {
  margin: 0;
  padding-top: 37px;
  padding-bottom: 50px;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  &--error {
    padding-bottom: 41px;
  }
}

.modal__button {
  width: 276px;
  height: 59px;
  background-color: $green;
  color: $white;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  border: none;
  cursor: pointer;
  margin-bottom: 52px;
}

.modal__button-wrapper {
  padding-top: 52px;
  background-color: $lightgrey;
}


@media (min-width: $tablet-width) {
  .modal {
    width: 460px;
  }
}

@media (min-width: $desktop-width) {
  .modal {
    width: 780px;
  }

  .modal__title {
    font-size: 30px;
    line-height: 40px;
  }
}
