.modal {
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;

  &--success {
    display: none;
  }

  &--failure {
    display: none;
  }
}

.modal__wrapper {
  position: absolute;
  left: 0;
  top: 50%;
  box-shadow: 0 7px 15px 0 #00010126;
  background-color: $white;
  text-align: center;
}

.modal__container {
  background-color: $white;
  max-width: 320px;
  padding: 40px 20px;
  margin: 0 auto;

  &--success {
    // padding-bottom: 33px;
  }
}

.modal__title {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.modal__text {
  margin: 0;
  padding-top: 24px;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  &--failure {
    // padding-bottom: 42px;
  }
}

.modal__button {
  width: 276px;
  height: 59px;
  background-color: $green;
  color: $white;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #1c9b5e;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.modal__button-wrapper {
  background-color: $lightgrey;
  padding-bottom: 51px;

  &--success {
    padding-top: 46px;
  }

  &--failure {
    background-color: transparent;
  }
}


@media (min-width: $tablet-width) {
  .modal__container {
    max-width: 460px;
    padding: 40px 70px 0 70px;
  }

  .modal__wrapper {
    left: 15%;
  }

  .modal__title {
    font-size: 30px;
    line-height: 40px;
    padding: 0 30px;
  }

  .modal__text {
    font-size: 18px;
    padding-top: 22px;
    padding-bottom: 0;

    &--success {
      padding-bottom: 32px;
    }
  }

  .modal__button {
    width: 296px;
  }

  .modal__button-wrapper {
    padding-top: 51px;
    padding-bottom: 52px;

    &--failure {
      padding-top: 38px;
    }
  }
}

@media (min-width: $desktop-width) {
  .modal__container {
    max-width: 780px;
    padding: 40px 160px 0 160px;

    &--success {
      padding-bottom: 41px;
    }
  }

  .modal__title {
    font-size: 30px;
    line-height: 40px;
  }

  .modal__wrapper {
    left: 18%;
  }

  .modal__text {
    padding: 22px 25px 65px 22px;

    &--success {
      padding-bottom: 0;
    }
  }

  .modal__button-wrapper--failure {
    background-color: $lightgrey;
  }

  .modal__button--success {
    width: 456px;
  }
}
