.modal {
  width: 320px;
  height: 279px;
  text-align: center;
}

.modal__title {
  display: block;
  padding-top: 44px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.modal__text {
  margin: 0;
  padding-top: 37px;
  padding-bottom: 50px;
}

.modal__button {
  width: 276px;
  height: 59px;
  background-color: $green;
  color: $white;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  border: none;
  cursor: pointer;
}
