.page-main {
  text-align: center;
}

.page-main__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;

  &--hidden {
    display: none;
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;

    &--hidden {
      display: inline;
    }
  }
}

.page-main__text-wrapper {
  padding-top: 44px;
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding: 91px 90px 74px 90px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 63px;
  }
}
