.page-footer {
  padding-top: 55px;
  text-align: center;
  height: 284px;

  &--inner {
    padding-top: 40px;
  }
}

.page-footer__logo {
  position: relative;
  margin: 0 auto;
  display: block;
  width: 145px;
  height: 40px;
  background-image: url("../img/glasses.svg");
  background-repeat: no-repeat;
  cursor: pointer;

  &:active {
    opacity: 30%;
  }
}

.page-footer__logo-pink {
  fill: $pink;
}

.page-footer__logo-img {
  color: $darkgrey-1;

  &:hover {
    color: $pink;
  }

  &:active {
    color: $darkgrey-1;
  }
}

.page-footer__logo-desktop {
  display: none;
}

.page-footer__social {
  padding-top: 38px;
  padding-bottom: 26px;
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
  margin: 0;
  padding-bottom: 41px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    padding-top: 27px;
    height: 127px;

    &--inner {
      padding-top: 35px;
    }

    &--form {
      padding-top: 86px;
    }
  }

  .page-footer__wrapper {
    display: grid;
    grid-template-columns: 25% 50% 25%;
  }

  .page-footer__logo {
    padding: 0;
    margin: 0;
  }

  .page-footer__social {
    padding: 0;
    padding-top: 2px;
  }

  .page-footer__copyright {
    padding: 0;
    padding-top: 10px;
    justify-content: end;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    padding-top: 70px;
    height: 197px;

    &--inner {
      padding-top: 101px;
    }

    &--form {
      padding-top: 73px;
    }
  }

  .page-footer__logo-img {
    display: none;
  }

  .page-footer__logo-desktop {
    display: block;

    &:hover {
      color: $pink;
    }

    &:active {
      color: $darkgrey-1;
    }
  }

  .page-footer__copyright {
    padding-top: 8px;
  }
}
