.page-header {
  background:
    url("../img/screen.png") no-repeat 104px 204px,
    url("../img/phone.png") no-repeat bottom left,
    url("../img/back-mobile.png") no-repeat bottom left;
  color: #ffffff;
  margin: 0 auto;
}

.page-header__wrapper {
  background-color: rgba(0, 0, 0, 0.3);
  height: 66px;
}

.page-header__logo--picture {
  padding-top: 22px;
  padding-left: 20px;
}

.page-header__toggle {
  width: 50px;
  height: 24px;
  background-image: url("../img/open-menu-btn.svg");
  background-color: transparent;
  border: none;
  cursor: pointer;
}
