.photos-item {
  text-align: left;
  margin-bottom: 20px;
}

.photos-item__pic {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.photos-item__link {
  display: block;
  height: 180px;
  width: 100%;
}

.photos-item__caption {
  background-color: $lightgrey;
  padding: 20px 11px 18px 17px;
}

.photos-item__caption-name {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

.photos-item__caption-time {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}

.photos-item__caption-text {
  margin: 0;
  padding-bottom: 9px;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.photos-item__caption-likes {
  margin-top: auto;
  position: relative;
  padding-left: 30px;
  color: $pink;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 13px;
    height: 12px;
    background-image: url("../img/heart.svg");
  }
}

@media (min-width: $tablet-width) {
  .photos-item__link {
    height: 300px;
    width: 100%;
  }

  .photos-item {
    display: flex;
    flex-direction: column;
    min-height: 455px;
    margin: 0;
  }

  .photos-item__caption {
    display: flex;
    flex-direction: column;
    padding: 22px 37px 20px 30px;
    margin: 0;
    text-align: left;
    flex-grow: 1;
  }

  .photos-item__caption-likes {
    padding-left: 0;

    &::before {
      top: 1px;
      left: 226px;
    }
  }

  .photos-item__caption-text {
    padding-bottom: 15px;
  }

  .photos-item__caption-name {
    padding: 0;
  }

  .photos-item__author {
    padding-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .photos-item {
    min-height: 555px;
  }

  .photos-item__link {
    height: 400px;
    width: 100%;
  }

  .photos-item__caption-likes {
    &::before {
      top: 5px;
      left: 230px;
    }
  }

  .photos-item__caption {
    padding-top: 24px;
    padding-left: 26px;
  }

  .photos-item__caption-text {
    padding-bottom: 13px;
  }
}
