.price {
  padding-top: 93px;
  padding-bottom: 45px;
  background-color: $lightgrey;
}

.price__table {
  display: table;
  width: 828px;
  margin: 0;
  border-spacing: 0;
  border-collapse: collapse;
}

.price__table-wrapper {
  overflow-x: scroll;
}

.price__table-rate {
  width: 276px;
  height: 94px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: $darkgrey-1;
  color: $white;
  border: 2px solid $lightgrey;
}

.price__table-header {
  width: 276px;
  height: 59px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  border: 2px solid $bordercolor;
  background-color: $white;
}

.price__table-cell {
  border: 2px solid $bordercolor;
  background-color: $white;
  width: 276px;
  height: 59px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;

  &::after {
    content: attr(data-title) " ";
    text-transform: uppercase;
    line-height: 30px;
  }

  &--yes {
    background-image: url("../img/yes.svg");
    background-repeat: no-repeat;
    background-position: center right 20px;
  }

  &--no {
    background-image: url("../img/no.svg");
    background-repeat: no-repeat;
    background-position: center right 20px;
  }
}

.price__table-header--hidden {
  display: none;
}

.price__table-price {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  background-color: $darkgrey-1;
  color: $white;
}

.price__toggles {
  margin: 0;
  padding-top: 45px;
}

@media (min-width: $tablet-width) {
  .price__table-wrapper {
    overflow-x: hidden;
    max-width: $tablet-width;
    padding: 0 20px;
    margin: 0 auto;
  }

  .price__table {
    width: 612px;
  }

  .price__table-header {
    display: block;
    text-transform: none;
    width: 153px;
    height: 45px;
    visibility: visible;
    border: 1px solid $bordercolor;
    padding: 6px 5px;
    border-right: none;
  }

  .price__table-rate {
    width: 152px;
    height: 75px;
  }

  .price__table-cell {
    width: 153px;
    height: 45px;
    padding: 0;
    background-position: center;

    &::after {
      display: none;
    }
  }

  .price__table-header--hidden {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .price__table {
    width: 935px;
  }

  .price__table-header {
    width: 234px;
    height: 59px;
    font-size: 18px;
    padding: 10px 5px;
  }

  .price__table-rate {
    font-size: 18px;
    width: 233px;
    height: 94px;
  }

  .price__table-price {
    font-size: 24px;
  }

  .price__table-wrapper {
    max-width: $desktop-width;
    padding: 0;
  }
}
