.price {
  position: relative;
  padding-top: 100px;
  background-color: $lightgrey;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 22px;
    background-image: linear-gradient(to right bottom, $white 50%, transparent calc(50% + 1px));
  }
}

.price__table {
  display: table;
  width: 828px;
  margin: 0;
  border-spacing: 0;
  border-collapse: collapse;
}

.price__table-wrapper {
  overflow-x: scroll;
}

.price__table-rate {
  padding-bottom: 27px;
  padding-top: 10px;
  width: 276px;
  height: 100px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: $darkgrey-1;
  color: $white;
  border: 2px solid $lightgrey;

  &--hit {
    position: relative;
    background-image: url("data:image/svg+xml,%3Csvg width='74' height='74' viewBox='0 0 74 74' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M74 0L37 37L0 74V41L41 0H74Z' fill='%23D22856'/%3E%3C/svg%3E%0A");
    background-position: top left;
    background-repeat: no-repeat;

    &::before {
      top: 6px;
      left: 6px;
      content: "ХИТ";
      position: absolute;
      width: 74px;
      height: 74px;
      font-weight: 400;
      font-size: 14px;
      line-height: 30px;
      transform: rotate(311deg);
    }
  }
}

.price__table-header {
  width: 276px;
  height: 59px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  border: 2px solid $bordercolor;
  background-color: $white;
}

.price__table-cell {
  border: 2px solid $bordercolor;
  background-color: $white;
  width: 276px;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;

  &::after {
    content: attr(data-title) " ";
    text-transform: uppercase;
    line-height: 30px;
  }

  &--yes {
    background-image: url("../img/yes.svg");
    background-repeat: no-repeat;
    background-position: center right 15px;
  }

  &--no {
    background-image: url("../img/no.svg");
    background-repeat: no-repeat;
    background-position: center right 15px;
  }
}

.price__table-header--hidden {
  display: none;
}

.price__table-price {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  background-color: $darkgrey-1;
  color: $white;
}

.price__toggles {
  margin: 0;
  padding-top: 45px;
}

@media (min-width: $tablet-width) {
  .price {
    padding-top: 96px;
    padding-bottom: 70px;

    &::before {
      height: 40px;
    }
  }

  .price__table-wrapper {
    overflow-x: hidden;
    max-width: $tablet-width;
    padding: 0 20px;
    margin: 0 auto;
  }

  .price__table {
    width: 617px;
  }

  .price__table-header {
    display: block;
    text-transform: none;
    width: 153px;
    height: 45px;
    visibility: visible;
    border: 1px solid $bordercolor;
    padding: 6px 5px;
    border-right: none;
    text-align: left;

    &--hidden {
      display: block;
      padding-left: 17px;
    }
  }

  .price__table-rate {
    width: 152px;
    height: 75px;
    padding-top: 10px;
    padding-bottom: 10px;

    &--hit {
      background-size: 61px 61px;

      &::before {
        top: 0;
        left: 0;
      }
    }
  }

  .price__table-cell {
    width: 153px;
    height: 45px;
    padding: 0;
    background-position: center;

    &::after {
      display: none;
    }
  }

  .price__toggles {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .price {
    padding-top: 159px;
    padding-bottom: 97px;

    &::before {
      height: 100px;
    }
  }

  .price__table {
    width: 943px;
  }

  .price__table-header {
    width: 234px;
    height: 59px;
    font-size: 18px;
    padding: 14px 21px;
  }

  .price__table-rate {
    font-size: 18px;
    width: 236px;
    height: 100px;
  }

  .price__table-price {
    font-size: 24px;
  }

  .price__table-wrapper {
    max-width: $desktop-width;
    padding: 0;
  }
}
