.reviews {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}

.reviews__author-name {
  display: block;
  padding-top: 50px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
  color: $black;
}

.reviews__age {
  display: none;
}

.reviews__item {
  margin: 0;
}

.reviews__text {
  padding-top: 31px;
  margin: 0;
}

.reviews__toggles {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .reviews {
    margin-bottom: 40px;
  }

  .reviews__author-info {
    display: flex;
    flex-direction: column;
  }

  .reviews__age {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
  }

  .reviews__author-name {
    font-size: 20px;
  }

  .reviews__text {
    font-size: 18px;
    line-height: 30px;
    order: -1;
  }

  .reviews__buttons,
  .reviews__toggles {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .reviews__buttons {
    display: flex;
    justify-content: space-between;
  }

  .reviews__toggles {
    display: none;
  }

  .reviews__author-name {
    font-size: 24px;
  }

  .reviews__age {
    font-size: 18px;
  }
}
