.reviews {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}

.reviews__author-name {
  display: block;
  padding-top: 50px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
  color: $black;
}

.reviews__item {
  margin: 0;
}

.reviews__text {
  padding-top: 31px;
  margin: 0;
}

.reviews__toggles {
  margin: 0;
}
