.reviews {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  background: linear-gradient(177deg, $white 94%, $lightgrey 6%);
  background-position: 0 370px;
}

.reviews__buttons {
  display: none;
}

.reviews__button {
  border: none;
  background-color: transparent;
}

.reviews__author-name {
  display: block;
  padding-top: 44px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
  color: $black;
}

.reviews__age {
  display: none;
}

.reviews__item {
  margin: 0;
}

.reviews__text {
  padding-top: 12px;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .reviews {
    padding-top: 41px;
    background: linear-gradient(177deg, $white 89%, $lightgrey 11%);
    background-position: 0 690px;
  }

  .reviews__author-info {
    display: flex;
    flex-direction: column;
  }

  .reviews__age {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
  }

  .reviews__author-name {
    font-size: 20px;
    padding-top: 36px;
  }

  .reviews__text {
    font-size: 18px;
    line-height: 30px;
    order: -1;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    position: relative;
    padding-top: 135px;
    padding-bottom: 133px;
    background: linear-gradient(175deg, $white 83%, $lightgrey 17%);
    background-position: 0 1010px;
  }

  .reviews__item {
    position: relative;
  }

  .reviews__buttons {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 78px;
  }

  .reviews__button {
    width: 22px;
    height: 41px;
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;

    &--next {
      transform: rotate(180deg);
      padding-left: 912px;
    }
  }

  .reviews__toggles {
    display: none;
  }

  .reviews__author-name {
    font-size: 24px;
  }

  .reviews__age {
    font-size: 18px;
  }

  .reviews__text {
    padding-top: 50px;
    padding-right: 104px;
    padding-left: 104px;
  }

  .reviews__wrapper {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -64px;
      left: 431px;
      background-image: url("../img/quotes.svg");
      background-repeat: no-repeat;
      width: 79px;
      height: 63px;
    }
  }
}
