.slider__toggles {
  padding-top: 30px;
  padding-bottom: 35px;
  margin: 0 auto;
  display: flex;
  column-gap: 19px;
  justify-content: center;
  align-items: center;

  &--hidden {
    padding-top: 43px;
    padding-bottom: 49px;
  }
}

@media (min-width: $tablet-width) {
  .slider__toggles {
    padding-top: 36px;
    padding-bottom: 13px;

    &--hidden {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .slider__toggles {
    display: none;
  }
}

.slider__toggle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(40, 54, 69, 0.3);
  border: none;
  padding: 0;

  &:hover {
    background-color: rgba(40, 54, 69, 0.6);
  }

  &:active {
    background-color: rgba(40, 54, 69, 0.1);
  }

  &--current {
    width: 12px;
    height: 12px;
    background-color: $white;
    border: 3px solid $darkgrey-1;

    &:hover {
      background-color: $white;
    }
  }
}
