.social__list {
  list-style-type: none;
  padding-right: 54px;
  padding-left: 54px;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 7px;

  @media (min-width: $tablet-width) {
    padding: 0 17px;
    column-gap: 9px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 72px;
    column-gap: 4px;
  }
}

.social__link {
  display: block;
  width: 54px;
  height: 54px;
  background-repeat: no-repeat;
  background-position: center;
  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 50%;

  &--tw {
    background-image: url("../img/logo-twitter.svg");
  }

  &--fb {
    background-image: url("../img/logo-facebook.svg");
  }

  &--yt {
    background-image: url("../img/logo-youtube.svg");
  }

  &:hover {
    border: 3px solid $darkgrey-1;
  }

  &:active {
    opacity: 10%;
  }
}
