.upload-button {
  margin-bottom: 12px;
  width: 280px;
  height: 55px;
  color: $pink;
  background-color: transparent;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  border: 3px solid $pink;
  box-sizing: border-box;
  border-radius: 30px;
}

.upload-button--grey {
  opacity: 0.1;
  background-color: transparent;
  border: 3px $textcolor solid;
  color: $textcolor;
}
