.upload-button-wrapper__post {
  margin-bottom: 12px;
  width: 280px;
  height: 55px;
  color: $pink;
  background-color: transparent;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  border: 3px solid $pink;
  box-sizing: border-box;
  border-radius: 30px;
}

.upload-button-wrapper__reset {
  opacity: 0.1;
  width: 280px;
  height: 55px;
  background-color: transparent;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  border: 3px solid;
  box-sizing: border-box;
  border-radius: 30px;
}
