$darkgrey: #1d2631;
$lightgrey: #f2f2f2;
$pink: #d22856;
$green: #2aab6d;
$darkgrey-1: #283645;
$textcolor: $darkgrey-1;
$white: #ffffff;
$black: #000000;
$bordercolor: #e5e5e5;

$tablet-width: 660px;
$desktop-width: 1200px;
$mobile-width-only: 659px;
